<div class="form-horizontal login-form">
  <h2>{{login-title}}</h2>
  <form method="post" action="{{context-root}}/login">
    <div class="control-group">
      <input type="text" name="username" value="{{username}}" 
             placeholder="{{username-label}}" 
             class="input-block-level" />
    </div>
    <div class="control-group">
      <input type="password" name="password" value="{{password}}" 
             placeholder="{{password-label}}" 
             class="input-block-level" />
    </div>
    <div class="control-group">
      <label class="checkbox">
	<input type="checkbox" value="remember-me">
	{{remember-me}}
	</input>
      </label>
    </div>
    <div class="control-group">
      <input type="submit" value="{{login-submit}}" 
             class="btn btn-inverse btn-large pull-right">
    </div>
    <div class="links">
      <span><a href="/signup" >{{signup-link}}</a> - 
            <a href="">{{recover-password-link}}</a>
      </span>
    </div>
  </form>
</div>
