<p> Mentions </p>
<ul class="mentions">
{{#mentions}}
{{#user}}    
  <li><a href="{{root}}/user/{{username}}">
    {{username}}
  </a>:{{content}}
  </li>
{{/user}}
{{/mentions}}
{{^mentions}}
  <li>No mentions</li>
{{/mentions}}
