<p>{{tweets-header}}</p>
<ul class="timeline">
{{#timeline}}
{{#user}}    
  <li><a href="{{root}}/user/{{username}}">
    {{username}}
  </a>:{{content}}
  </li>
{{/user}}
{{/timeline}}
{{^timeline}}
  <li>{{no-tweets-msg}}</li>
{{/timeline}}
</ul>