<p>{{tweet-header}} </p>
<form action="post" name="post" method="post">
  <textarea name="content" rows="3" style="width:30em"></textarea>
  <input class="btn" type="submit" value="{{send-submit}}"/>
</form>
<p>{{tweets-header}} </p>
<ul class="timeline">
{{#timeline}}
{{#user}}    
  <li><a href="{{root}}/user/{{username}}">
    {{username}}
  </a>:{{content}}
  </li>
{{/user}}
{{/timeline}}
{{^timeline}}
  <li>{{no-tweets-msg}}</li>
{{/timeline}}
</ul>
