<p> Tweet </p>
<form action="post" name="post" method="post">
  <textarea name="content" rows="3" style="width:30em"></textarea>
  <input type="submit" value="send"/>
</form>
<p> Timeline </p>
<ul class="timeline">
{{#timeline}}
{{#user}}    
  <li><a href="{{root}}/user/{{username}}">
    {{username}}
  </a>:{{content}}
  </li>
{{/user}}
{{/timeline}}
{{^timeline}}
  <li>No tweets, post some of them</li>
{{/timeline}}
</ul>
