{{^self}}
<h3>{{other}}</h3>
{{#current}}
  <form action="{{context-root}}/user/{{username}}/followee/{{other}}"
   type="{{other-user-method}}" >
   <input type="hidden" name="_method" value="{{other-user-method}}" />
   <input type="submit" value="{{other-user-submit}}" />
  </form>
{{/current}}
{{/self}}
<p>{{tweets-title}}</p>
<ul class="posts">
{{#posts}}
  <li>{{content}}</li>
{{/posts}}
{{^posts}}
  <li>{{no-tweets-msg}}</li>
{{/posts}}
</ul>
<p>{{followers-title}}</p>
<ul class="users followers">
{{#followers}}
  <li><a href="{{context-root}}/user/{{username}}">{{username}}</a></li>  
{{/followers}}
{{^followers}}
  <li>{{no-followers-msg}}</li>
{{/followers}}
</ul>
<p>{{followees-title}}</p>
<ul class="users followees">
{{#followees}}
  <li><a href="{{context-root}}/user/{{username}}">{{username}}</a></li>
{{/followees}}
{{^followees}}
  <li>{{no-followees-msg}}</li>
{{/followees}}
</ul>
