<div class="form-horizontal login-form">
  <h2>{{signup-title}}</h2>
  <form method="post" action="{{context-root}}/signup">
    <div class="control-group">
      <input type="text" name="username" placeholder="{{username}}" 
             class="input-block-level" />
    </div>
    <div class="control-group">
      <input type="password" name="password" placeholder="{{password}}" 
             class="input-block-level" />
    </div>
     <div class="control-group">
      <input type="password" name="password-check" 
             placeholder="{{password-check}}" 
             class="input-block-level" />
    </div>
    <div class="control-group">
      <input type="submit" value="{{signup-submit}}" 
             class="btn btn-inverse btn-large pull-right">
    </div>
  </form>
</div>
